<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @post1.name %>
</p>

<p>
  <strong>Add:</strong>
  <%= @post1.add %>
</p>

<%= link_to 'Edit', edit_post1_path(@post1) %> |
<%= link_to 'Back', post1s_path %>
